<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>comune di Leffe-Territorio</title>
    <link rel="stylesheet" href="../static/territorio.css">
</head>

<body>
    <header class="header">
        <h1 id="header_tit">comune di Leffe</h1>
        <img src="../img/logo_leffe.png" alt="logo Leffe" id="img_logo">
    </header>
    <div class="menu">
        <a href="../templates/index.html">Home</a>
        <a href="../templates/servizi.html">Servizi</a>
        <a href="../templates/eventi.html">Eventi</a>
        <a href="../templates/contatti.html">Contatti</a>
        <a href="../templates/territorio.html"><u>Territorio</u></a>
    </div>
    <main class="main">
        <section class="territorio-hero">
            <h2>il territorio di Leffe</h2>
            <p>
                il comune di Leffe si trova in un contesto collinale delle prealpi bergamasche,
                immerso tra boschi sentieri e aree panoramiche. Il suo territorio combina natura,
                storia e tradizioni locali,offrendo numerosi punti d'interesse e percorsi da scoprire.
            </p>
        </section>
        <section class="territorio-descrizione">
            <article class="territorio-box">
                <h3>caratteristiche del territorio</h3>
                <p>
                    Leffe si sviluppa su un territorio<strong>collinare</strong>,
                    con alture che raggiungono i 600-700 metri e che offrono scorci panoramici
                    sulla val gandino e sulle prealpi. il paesaggio e caratterizato da zone boschive e rurali,
                    terrazze coltivate e percorsi naturalistici perfetti per passegiate ed escursioni.
                </p>
                <ul>
                    <li>altitudine media:500 m s.l.m </li>
                    <li>ambiente:collinare e prealpino </li>
                    <li>zone verdi e boschive estese </li>
                    <li>sentiero e percorsi panoramici</li>
                </ul>
            </article>
            <article class="territorio-box">
                <h3>punti di interesse</h3>
                <ul>
                    <li><strong>La Chiesa di San Michele</strong>-edificio religioso di valore artistico.</li>
                    <li><strong>Il Parco Fluviale</strong>-area naturalistica lungo il corso d'acqua.</li>
                    <li><strong>Il Belvedere</strong>- Punto panoramico sulla valle.</li>
                </ul>
            </article>
        </section>
        <section class="galleria">
            <h2>galleria fotografica</h2>
            <div class="galleria-grid">
                <div class="galleria-card">
                    <img src="../img/chiesa_san_michele.jpg" alt="Chiesa di San Michele">
                    <p>La Chiesa di San Michele- Uno dei simboli religiosi del paese</p>
                </div>

                <div class="galleria-card">
                    <img src="../img/Leffe centro.png" alt="Leffe centro">
                    <p>Leffe centro- Vista</p>
                </div>
                <div class="galleria-card">
                    <img src="../img/parco_fluviale.jpg" alt="Parco Fluviale">
                    <p>Il Parco Fluviale- Sentieri e natura lungo il corso del torrente.</p>
                </div>

                <div class="galleria-card">
                    <img src="../img/belvedere.jpg" alt="Belvedere panoramico">
                    <p>Il Belvedere- Punto panoramico sulle prealpi bergamasche</p>
                </div>
            </div>
        </section>
        <section class="territorio-percorsi">
            <h2>percorsi naturali e aree verdi</h2>
            <p>Leffe offre diversi percorsi imersi nella natura,adatti sia a famiglie sia ad escursionisti.
                Le aree verdi sono ben mantenute e permettono di scoprire scorci suggestivi del territorio.
            </p>
            <ul>
                <li><strong>Sentiero del Monte Croce</strong>-Itinerario panoramico travbosch e crinali.</li>
                <li><strong>Pista ciclabile della VallGandino</strong>-Percorso adatto a biciclette e famiglie.</li>
                <li><strong>Parco Fluviale</strong>-Aree verdi attrezate e camminate lungo il territorio.</li>
                <li><strong>Percorso del Belvedere</strong>-Passegiata breve con vista sulla valle.</li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <h3>team di sviluppo</h3>
        <p>contatti istituzionali:</p>
        <p>1) Manfrinato Giorgio-giorgio.manfrinato@studenti.liceomascheroni.it </p>
        <p>2) Milesi Pietro-pietro.milesi@studenti.liceomascheroni.it </p>
        <p>3)Piazzalunga Rebeca–rebecaemily.piazzalungamaldonadorojas@studenti.liceomascheroni.it</p>
        <p>4) Simonelli Silva Pietro-pietro.simonellisilva@studenti.liceomascheroni.it </p>
    </footer>
</body>

</html>